/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:inherit
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #030000;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

./* Logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #030000;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  flex: 0 0 100px; 
  display: inline-block;
}


.logo img {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  object-fit: contain; 
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 50px;
  flex: 1;
  justify-content: flex-end;
}
.nav-links li {
  margin-left: 1.5rem;
  font-weight: regular;
}
.nav-links li a {
  font-weight: regular;
  font-size: 1.1rem;
  
  transition: color 0.3s ease;
  
}
/* Hero Section */
.hero {
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}
